# don't push project files
*.cbp
*.sln
*.vcx*
*.workspace*
addons.make
config.make
Makefile

*.vscode
*.xcodeproj
*.plist
*.xcconfig
*.suo

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/
project.xcworkspace

*.opensdf
*.sdf
*.suo
*.ipch

.svn/
obj/
bin/**
!bin/data
build/
!data/
